################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AskGoo2/v15
/src/Infrastructure/bin/Debug/netstandard2.0
/src/Infrastructure/obj/*